.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
  margin-top: 30px;
}
.icons i {
  color: rgb(114, 240, 114);
  width: 50px;
  font-size: 25px;
}
.footer p {
  color: #a5a5a5;
}
.footer p i {
  color: red;
}
